@media (orientation:portrait) {
  body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .homeb{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  header{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
  }
  footer{
    position:relative;
    bottom:0px;
    right:0px;
    left:0px;
  }
}