        
    
       /* header css */
        header{
            position:fixed;
            left:0px;
            right:0px;
            top:0px;
            margin-top:0px;
        }
        .profile{
          display:none;
        }
        /* navigation bar css
        list style manage in nav bar 
        nav bar flexing, hovering,anchor decoration
        smooth animation */
        .navbar {
            height: 100px;
            background-image: linear-gradient(to left, rgb(163, 71, 137), rgb(187, 187, 85), rgb(114, 180, 206));
            box-shadow: 2px 2px 3px 3px rgb(62, 59, 59);
            font-weight: bolder;
            font-family:Verdana, Geneva, Tahoma, sans-serif;

        }
        

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }

        .navbar ul {
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            margin-top:10px;
            margin-right: 20px;

        }

        .navbar ul li:hover {
            border-radius: 3px;
            border: solid 3px rgb(145, 117, 65);
            box-sizing: border-box;
            box-shadow: 3px -3px 2px 1px rgb(53, 75, 27);
            background-color: rgb(91, 119, 48);
            font-family: algerian;
            animation-name: animates;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-iteration-count: linear;
            animation-fill-mode:backwards;
        }

        @keyframes animates {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1.5);
            }
        }
        /* home css code
        image radius height width designing,flexing,button,hovering,smoooth,animation */
        .homea1 {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            margin-top: 50px;
            margin-left: 50px;
        }

        .homea2 {
            margin: 100px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color:rgb(78, 19, 19);
            font-family:'Times New Roman';
            text-align: center;
            border-radius: 20px;
            color:rgb(92, 37, 37)
        }
        
        .home .homea{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            margin-top:75px;
        }
        .homeb1{
            margin: 100px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color:rgb(90, 21, 21);
            font-family:'Times New Roman';
            color:rgb(182, 148, 148);
            text-align: center;
            border-radius: 20px;
        
        }
        .homeb2{
            height:300px;
            width:300px;
            border-radius:0px 40px;
            border:solid 5px rgb(136, 105, 66);
            
        }
        .homeb{
            display:flex;
            justify-content:center;
            align-items:center;
            gap:50px;

        }
        button{
            height:50px;
            width:150px;
            border-radius:25px;
            background-color: rgb(47, 43, 43);
            color:whitesmoke;
            font-family: algerian;
        }
        button:hover{
            background-color: rgb(121, 88, 48);
            font-size:40px;
            font-family: algerian;
            animation-name: button;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: linear;
            animation-fill-mode:both;
        }
        @keyframes button{
            from{
                transform: scale(1);
            }
            to{
                transform:scale(0.75);
            }
        }

        /* about page designing with colors and effects */
        /*heading*/
        .aboutheading{
            color:rgb(122, 45, 45);
            height:30px;
            display:flex;
            align-items: center;
            justify-content: center;
            background-color:darkgrey;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight:bolder;
            text-align: center;
            box-shadow: 2px 2px 3px 3px rgb(125, 67, 125);
        }
        .dataa1{
            margin-top:20px;
        }
        .dataa2{
            margin-top:150px;
            background-color:rgb(134, 24, 24);
            font-family:'Times New Roman';
            text-align: center;
            border-radius: 20px;
            text-indent: 100px;

        }
        .about .data{
            display:flex;
         justify-content: center;
            align-items:center;
            gap:100px;
        }
        /* content hover of pages */
        .home .homea2:hover{
            border:solid 3px rgb(68, 142, 99);
            animation-name:border-color;
            animation-duration:10s;
            animation-iteration-count:ease-in-out;
        }
        @keyframes border-color{
            0%{
                
                border:solid 5px rgb(125, 60, 60);
                box-shadow:2px 0px 3px 3px rgb(66,1,1);
            }
             15%{
                
                border:solid 7px rgb(145, 62, 145);
                box-shadow:2px 0px 3px 3px rgb(169, 77, 169);
            }
             30%{
                
                border:solid 7px rgb(67, 22, 22);
                box-shadow:2px 0px 3px 3px rgb(122, 4, 4);
            }
             45%{
                
                border:solid 7p rgb(91, 8, 91);
                box-shadow:2px 0px 3px 3px rgb(121, 12, 121);
            }
            60%{
                border:solid 7px rgb(107, 14, 63);
                box-shadow:2px 0px 3px 3px rgb(116, 12, 68);
            }
            75%{
                border:solid 7px rgb(80, 12, 12);
                box-shadow:2px 0px 3px 3px rgb(78, 12, 12);
            }
            90%{
                border:solid 7px rgb(101, 101, 18);
                box-shadow:2px 0px 3px 3px rgb(101, 9, 101);
            }
            100%{
                border:solid 7px rgb(10, 67, 10);
                box-shadow:2px 0px 3px 3px rgb(107, 10, 107);
            }
        }
        /* content hover of pages */
           .homeb .homeb1:hover{
            border:solid 3px rgb(8, 65, 32);
            animation-name:border-color;
            animation-duration:10s;
            animation-iteration-count:ease-in-out;
        }
        @keyframes border-color{
           0%{
                
                border:solid 5px rgb(125, 60, 60);
                box-shadow:2px 0px 3px 3px rgb(66,1,1);
            }
             15%{
                
                border:solid 7px rgb(145, 62, 145);
                box-shadow:2px 0px 3px 3px rgb(169, 77, 169);
            }
             30%{
                
                border:solid 7px rgb(67, 22, 22);
                box-shadow:2px 0px 3px 3px rgb(122, 4, 4);
            }
             45%{
                
                border:solid 7p rgb(91, 8, 91);
                box-shadow:2px 0px 3px 3px rgb(121, 12, 121);
            }
            60%{
                border:solid 7px rgb(107, 14, 63);
                box-shadow:2px 0px 3px 3px rgb(116, 12, 68);
            }
            75%{
                border:solid 7px rgb(80, 12, 12);
                box-shadow:2px 0px 3px 3px rgb(78, 12, 12);
            }
            90%{
                border:solid 7px rgb(101, 101, 18);
                box-shadow:2px 0px 3px 3px rgb(101, 9, 101);
            }
            100%{
                border:solid 7px rgb(10, 67, 10);
                box-shadow:2px 0px 3px 3px rgb(107, 10, 107);
            }
        }
        /* content hover of pages */
        .about .dataa2:hover{
            border:solid 3px rgb(11, 155, 107);
            animation-name:border-color;
            animation-duration:10s;
            animation-iteration-count:ease-in-out;
        }
        @keyframes border-color{
           0%{
                
                border:solid 5px rgb(125, 60, 60);
                box-shadow:2px 0px 3px 3px rgb(66,1,1);
            }
             15%{
                
                border:solid 7px rgb(145, 62, 145);
                box-shadow:2px 0px 3px 3px rgb(169, 77, 169);
            }
             30%{
                
                border:solid 7px rgb(67, 22, 22);
                box-shadow:2px 0px 3px 3px rgb(122, 4, 4);
            }
             45%{
                
                border:solid 7p rgb(91, 8, 91);
                box-shadow:2px 0px 3px 3px rgb(121, 12, 121);
            }
            60%{
                border:solid 7px rgb(107, 14, 63);
                box-shadow:2px 0px 3px 3px rgb(116, 12, 68);
            }
            75%{
                border:solid 7px rgb(80, 12, 12);
                box-shadow:2px 0px 3px 3px rgb(78, 12, 12);
            }
            90%{
                border:solid 7px rgb(101, 101, 18);
                box-shadow:2px 0px 3px 3px rgb(101, 9, 101);
            }
            100%{
                border:solid 7px rgb(10, 67, 10);
                box-shadow:2px 0px 3px 3px rgb(107, 10, 107);
            }
        }
            .about .aboutb{
                margin-left:20px;

            }
            .span{
                padding-left:20px;
                padding-right:20px;
                color:rgb(75, 120, 75);
                background-color: yellow;
            }
           /* 
        
        footer{
            height:100px;
            background-color: lightgray;
            box-shadow: 2px 2px 3px 3px rgb(3, 96, 51);

        
        }
       footer  .diva a{
            display:flex;
            justify-content: center;
            align-items:center;
            margin-top:50px;
            
        }
               footer  .diva a:hover{
                animation-name:awesome;
                animation-duration: 1s;
                animation-timing-function: ease-in;
                animation-iteration-count: linear;
                animation-fill-mode: both;
                transition: all 3s linear;
               }
               @keyframes awesome{
                from{
                    transform: scale(1);
                }
                to{
                    transform: scale(2);
                }
            }*/
                /* about us css page */
                .sec1 h2{
                    height:30px;
                    
                    margin-left:30px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    color:rgb(95, 12, 12);
                    background-color:rgb(130, 113, 113);
                    font-family: algerian;
                    font-weight: bolder;
                    font-size: larger;
                    box-shadow:2px 2px 3px 4px rgb(203, 110, 203);
                }
                .container2  p{

            font-size:medium;
            font-weight:bolder;
            margin-right:100px;
            margin-top:100px;
            word-spacing:10px;
            border:solid 5px rgb(180, 137, 84);


        }
        .continer2{
            display:flex;
            gap:100px;
            justify-content: center;
            align-items: center;
        
        }
        img{
            height:400px;
            width:400px;
           /* width:300px;*/
           border-radius:0px 50px;
           margin-left: 100px;;
        }
        .container  h2{
            justify-content: flex-end;
    
    padding-left:20px;
    margin-left:20px;
    margin-top:0px;
    padding-top:0px;
}

/* skills page css */
.sec3 h2{
    height:30px;
    margin-left:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(164, 64, 64);
    background-color:rgb(149, 129, 129);
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px rgb(196, 107, 196);
    
        }
        .sec3 h2:hover{
    animation-name:skills;
    animation-duration:1s;
    animation-iteration-count:linear;
    animation-fill-mode:forward;
        }
        @keyframes skills{
            from{
                transform: scale(1);
                background-color:rgb(112, 112, 47);
                box-shadow: 2px 2px 3px 3px rgb(167, 136, 77);
            }
            to{
                transform: scale(1);
                background-color:rgb(160, 160, 66);
                box-shadow: 2px 2px 3px 3px rgb(206, 168, 98);
            }
        }
.sec3 .container3,.image{
    display:inline;
    height:300px;
    width:200px;
    color:rgb(86, 27, 27);
}

/* h3a css*/
.sec3 .container3 .h3a{
  display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
/* h3b css*/
.sec3 .container3 .h3b{
  display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
/* h3c css*/
.sec3 .container3 .h3c{
 /* display:flex;
  align-items: center;
  justify-content: center; problem*/
  text-align: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
/* h3d css*/
.sec3 .container3 .h3d{
  display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}

.sec3 .softskills{
    padding-top:20px;
/*about us my hobbies part css code*/
    
}
        .aboutb .h4{
            color:rgb(147, 61, 147);
            font-size:12px;
            background-image:linear-gradient(to right bottom,rgb(134, 134, 61),rgb(40, 102, 40),rgb(42, 84, 102),rgb(86, 63, 21),darksalmon,darkgreen,darkorange);
            height:25px;
            width:200px;
            font-family: algerian;
            font-weight: bolder;
            display:flex;
            align-items: center;
            justify-content: center;
            
        }

/*
  soft skills css code
  */
  .technicalskills{
    color:rgb(152, 139, 139);
    background-color:black;
    font-weight: bolder;
    font-size: 15px;
    font-family: algerian;
    margin-top:35px;
    width:150px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .softskills{
    color:rgb(151, 123, 123);
    background-color:rgb(55, 48, 48);
    font-weight: bolder;
    font-size: 15px;
    font-family: algerian;
    margin-top:20px;
    width:150px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .sec3 .container3{
    margin-left:50px;
    display:block;
   /* color:yellow;*/
    font-weight:bolder;
    /*background-image: url("portfolio1.jpg");*/
   /* background-repeat: np-repeat;*/
    height:200px;
    width:300px;
    text-align: center;
    padding-top:50px;
    box-shadow:2px 2px 3px 3px rgb(99, 76, 46);
  }
  
/*
  soft skills css code
  */
.sec3 .soft{
    display:block;
    color:rgb(98, 98, 37);
    font-weight:bolder;
    text-align: center;
    margin-left:50px;
    font-size:15px;
    


}
.sec3 .soft .softa{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
.sec3 .soft .softb{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
.sec3 .soft .softc{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
.sec3 .soft .softd{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}

  
.sec3 .soft{
    display:block;
    color:rgb(150, 150, 93);
    font-weight:bolder;
    /*background-image: url("portfolio1.jpg");*/
   /* background-repeat: np-repeat;*/
    height:200px;
    width:300px;
    text-align: center;
    padding-top:50px;
    box-shadow:2px 2px 3px 3px rgb(101, 75, 41);

}
footer{
    background-color:grey;
    height:100px;
}
footer .diva{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:15px;
}
footer .diva .whatsapp:hover{
        animation-name:fontawesome;
    animation-duration:1s;
    animation-timing-function:ease-in;
    animation-iteration-count:linear;
    animation-fill-mode:forwards;
}

footer .diva .facebook:hover{
        animation-name:fontawesome;
    animation-duration:1s;
    animation-timing-function:ease-in;
    animation-iteration-count:linear;
    animation-fill-mode:forwards;
}

footer .diva .instagram:hover{
        animation-name:fontawesome;
    animation-duration:1s;
    animation-timing-function:ease-in;
    animation-iteration-count:linear;
    animation-fill-mode:forwards;
}
@keyframes fontawesome{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.5);
    }
}
.copyrights{
    text-align: center;
}

.projects .projectsa0
{
    height:30px;
    margin-left:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(98, 26, 26);
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px rgb(207, 107, 207);

}
.projectsa{
    width:500px;
    background-color: whitesmoke;
    box-shadow:2px 2px 3px 4px rgb(59, 57, 57);
    margin-left:50px;

}
.experiencesa{
    width:500px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    box-shadow:2px 2px 3px 4px rgb(76, 5, 5);
    margin-left:50px;

}
.experiencesa1{
        height:30px;
    margin-left:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(115, 25, 25);
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px rgb(84, 19, 84);

}
.contactusa{
     height:30px;
    margin-left:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(142, 43, 43);
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px rgb(184, 100, 184);
}
.contactusa1{
    height:fit-content;
    width:fit-content;
    display:block;
    background-image: linear-gradient(to right top,rgb(128, 23, 81),rgb(55, 26, 132),rgb(60, 131, 104),rgb(74, 100, 41),rgb(92, 27, 27));
    font-family: algerian;
    font-weight: bolder;
    box-shadow:-3.5px -3.5px 1px 4px rgb(57, 54, 57);
    margin-left:50px;
}
