@media (orientation:portrait)
{
    body{
        font-size:10px;
        margin-right:0px;
        padding:0px;
        background-color:white;


    }
            
       /* header css */
        header{
            position:fixed;
            left:0px;
            right:0px;
            top:0px;
            margin-top:0px;
        }
        /* navigation bar css
        list style manage in nav bar 
        nav bar flexing, hovering,anchor decoration
        smooth animation */
        
        .navbar {
            height: 100px;
            background-image: linear-gradient(to left, pink, yellow, skyblue);
            box-shadow: 2px 2px 3px 3px rgb(19, 19, 19);
            font-weight: bolder;
            font-family:Verdana, Geneva, Tahoma, sans-serif;

        }
        

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }

        .navbar ul {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            padding-top: 30px;
            padding-right:5px;
            margin-right:0px;
        

        }
        .navbar ul li:hover {
            border-radius: 3px;
            border: solid 3px orange;
            box-sizing: border-box;
            box-shadow: 3px -3px 2px 1px rgb(63, 91, 30);
            background-color: greenyellow;
            font-family: algerian;
            animation-name: animates;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-iteration-count: linear;
            animation-fill-mode:backwards;
        }

        @keyframes animates {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1.5);
            }
        }
                /* home css code
        image radius height width designing,flexing,button,hovering,smoooth,animation */
        
       #bars{
        font-size:40px;
        float:inline-end;
       }
       #bars:active+.navbar{
        display: block;
        
       }
        .homea1 {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            margin-top:70px ;
            margin-bottom:10px;
            margin-right: 20px;
            margin-left:10px;
        
            box-shadow:4px 2px 10px 10px black;
            transform:skew(11deg)
        }

        .homea2 {
           margin:20px;
            background-color: lightgrey;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            border-radius: 20px;
        }
        
        .home .homea{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:10px;
            margin-top:100px;
            
            
        }
        .homeb .homeb1{
            margin:20px;
            background-color: lightgrey;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align:center;
            border-radius: 20px
            
            

        }
        .homeb2{
            height:200px;
            width:200px;
            border-radius:0px 40px;
            border:solid 5px darkorange;
            box-shadow:4px 2px 10px 10px black;
            
        }
        .homeb{
            display:flex;
            flex-flow: column;
            margin:20px;
            gap:0px;
        
        }
        button{
            height:30px;
            width:150px;
            border-radius:25px;
            background-color: black;
            color:whitesmoke;
            font-family: algerian;
            box-shadow:1px 1px 3px 3px rgb(246, 80, 4);
        }
        
        
        .data .dataa1{
            height:200px;
            width:200px;
            margin-bottom:0px;
            border:solid 5px purple;
            box-shadow:4px 2px 10px 10px black;
        }
        .dataa2{
    
            background-color: lightgrey;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            border-radius: 20px;
            text-indent: 100px;
            height:150px;
            width:350px;
            margin-top:0px;
            padding-top:20px;
        }
    .data{
        display:flex;
        flex-direction:column-reverse;
        padding:0px;
    }
        
        .aboutb .h4{
            color:purple;
            font-size:12px;
            background-image:linear-gradient(to right bottom,yellow,green,skyblue,orange,darksalmon,darkgreen,darkorange);
            height:25px;
            width:200px;
            font-family: algerian;
            font-weight: bolder;
            display:flex;
            align-items: center;
            justify-content: center;
            
        }
        
/* skills page css */
.sec3 h2{
    height:30px;
    margin-left:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px violet;
    
        }
        .sec3 h2:hover{
    animation-name:skills;
    animation-duration:1s;
    animation-iteration-count:linear;
    animation-fill-mode:forward;
        }
        @keyframes skills{
            from{
                transform: scale(1);
                background-color:yellow;
                box-shadow: 2px 2px 3px 3px orange;
            }
            to{
                transform: scale(1);
                background-color:yellow;
                box-shadow: 2px 2px 3px 3px orange;
            }
        }
.sec3 .container3{
    .sec3 .container3{
    margin-left:50px;
    display:block;
   /* color:yellow;*/
    font-weight:bolder;
    /*background-image: url("portfolio1.jpg");*/
   /* background-repeat: np-repeat;*/
    height:200px;
    width:300px;
    text-align: center;
    padding-top:50px;
    box-shadow:2px 2px 3px 3px rgb(216, 124, 4);
  }
}

/* h3a css*/
.sec3 .container3 .h3a{
  display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
    margin-left:50px;
}
/* h3b css*/
.sec3 .container3 .h3b{
  display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
    margin-left:50px;
}
/* h3c css*/
.sec3 .container3 .h3c{
 
  text-align: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
    margin-left:50px;
}
/* h3d css*/
.sec3 .container3 .h3d{
  display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}

/*
  soft skills css code
  */
.sec3 .soft{
    display:block;
    color:yellow;
    font-weight:bolder;
    text-align: center;
    margin-left:50px;
    font-size:12px;


}
.sec3 .soft .softa{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
.sec3 .soft .softb{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
.sec3 .soft .softc{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
}
.sec3 .soft .softd{
    height:25px;
      display:flex;
  align-items: center;
  justify-content: center;
    height:20px;
    width:200px;
    background-image: url("portfolio3.jpg");
    
}
.softskills{
    margin-top:40px;
}
.copyrights{
    text-align: center;
}

.projects .projectsa0
{
    height:30px;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px violet;
    margin-top: 40px;
    margin-bottom: 40px;

}
.projectsa{
    width:450px;
    background-color: whitesmoke;
    box-shadow:2px 2px 3px 4px black;
    margin-left:10px;

}
.experiencesa{
    width:450px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    box-shadow:2px 2px 3px 4px rgb(92, 1, 1);
    margin-left:20px;

}
.experiencesa1{
        height:30px;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px rgb(233, 45, 233);
    margin-top: 40px;
    margin-bottom: 40px;

}
.contactusa{
     height:30px;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color:lightgray;
    font-family: algerian;
    font-weight: bolder;
    font-size: larger;
    box-shadow:2px 2px 3px 4px violet;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contactusa1{
    height:fit-content;
    width:fit-content;
    display:block;
    background-image: linear-gradient(to right top,rgb(165, 10, 95),rgb(64, 21, 182),rgb(25, 228, 150),rgb(143, 235, 23),rgb(123, 4, 4));
    font-family: algerian;
    font-weight: bolder;
    box-shadow:-3.5px -3.5px 1px 4px rgb(57, 54, 57);
    margin-left:50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
footer{
    background-color:grey;
    height:50px;
    width:600px;
}
footer .diva{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px;
}

}